<!DOCTYPE html>
<html>
<head>
	<title>Suport network</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../Styles/estiloGeral.css">
	<link rel="preload"  href="https://www.youtube.com/embed/5LK9a-Pq5ow">
<style>
#areaprincipal_infantil{
  width: 650px;
  margin-left: 30%;
  margin-top: 110px;
  z-index: 1000;
  border-radius: 5%;
}
h4{
text-align: center;

}
.menu2 {
     padding: 25px 0;
     float: right;
 }
</style>
</head>

<body id="principal" style="background-image:url(200.98.204.254/RReis/TCC_TELAS/img/pngtree-hand-painted-childlike-childrens-background-paintedsnailsringplantbaby-image_85189.jpg); background-repeat:repeat;">

  <div id="navegaçao" style="background-color:#A9D0F5 ">
  <div id="area"> </div>
   <a href="homeinfat.html" id="link_logo"><img src="../../img/logoTCC.png" class="media-object  img-responsive img-thumbnail" id="logo"></a> 

   
   <div class="menu2">  
    
    <a href="perfil_infantil.html" style="color:black;" > Perfil | </a>
    <a href="questionario_infantil.html" style ="color:black;"> Questionario|</a>
    <a href="atendimento.html" style="color:#1C1C1C;" > Atendimento | </a>
    <a href="contato.html " style="color:#1C1C1C;" > Contato | </a>
    <a href="index.html " style="color:#1C1C1C;" > Agenda | </a>
    <a href="index.html " style="color:#1C1C1C;"> Historico | </a>
    <a href="index.html " style="color:#1C1C1C;" > Duvidas </a>
  </div>
   
   
</div>
<div id="areaprincipal_infantil">
 <div id="iniciotext_infantil">
  <br>
  <h2 style="margin-left: 34%;color: #1C1C1C; "> SEJA BEM VINDO </h2>
  <br>

    <h4 style="font-family:calibri; color: #1C1C1C;">Disartria é a dificuldade de articulação da fala causada por motivos neurológicos. Diferentes tipos de disartria são causados por diferentes tipos de lesões ou doenças.</div>

    <br> <h3 id="flacida"> Disartria flácida</h3>
    
    <h4 style="color: #1C1C1C;font-family: calibri; "> Causada por lesão no neurônio motor inferior, esse tipo de disartria é frequentemente acompanhada por voz rouca e diminuição da força da voz.</h4>

    <br> <h3 id="flacida"> Disartria espástica </h3>
    
    <h4 style="color: #1C1C1C;font-family: calibri; ">Esta versão é causada por lesão no neurônio motor superior. Assim como a versão flácida, ela vem com a voz nasalada e consoante imprecisa, mas traz diferenças.</h4>
   
    <br> <h3 id="flacida"> Disartria atáxica </h3>
    
    <h4 style="color: #1C1C1C;font-family: calibri; "> Na versão atáxica, a disartria causa aspereza da voz, variações na entonação dos acentos, voz de intensidade e altura estáticas, fala arrastada, lenta e tremor dos lábios e língua.</h4> 

    <p style="text-align: center;"><iframe width ="560" height="315" src="https://www.youtube.com/embed/5LK9a-Pq5ow" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="false" allowscriptaccess="always"></iframe></p>

</div>


</body>


</html>